.button {
    margin-top: 5px;
    width: 153px;
    height: 32px;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    color: $text-color;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}