.carousel {
    // min-height: 750px;
    padding: 60px 0;
    background-color: #fff;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    &__controls {
        .arrow-prev, .arrow-next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -25px;
            border: none;
            background-color: #ffffff00;
            img {
                width: 31px;
                height: 50px;
            }
        }
        .arrow-next {
            left: auto;
            right: -25px;
        }
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}