.catalog {
    padding-bottom: 85px;
    &__tabs {
        margin-top: 45px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 222px;
        height: 52px;
        background-color: rgba(0, 0, 0, 0.00);
        border: 2px solid #D0D0D0;
        color: #6B6B6B;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 48px;
        transform: skewX(-20deg);
        margin: 0 5px;
        cursor: pointer;
        @include tab_selector_hover;
        div {
            transform: skewX(20deg);
        }
        &_active {
            background-color: $main-color;
            color: $text-color;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        opacity: 0;
        flex-wrap: wrap;
        transition: 0.5s all;
        &_active {
            display: flex;
            opacity: 1;
            animation: fadeInFromNone 1.5s;
        }
        &_hide {
            display: none;
        }
    }
    @keyframes fadeInFromNone {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    &-item {
        padding: 20px;
        width: 303px;
        min-height: 442px;
        background-color: #fff;
        border: 2px solid #E8E8E8;
        overflow: hidden;
        margin-bottom: 20px;
        &:nth-child(3n+2) {
            margin: 0 12px 20px 12px;
        }
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 30px;
            color: #0D0D0D;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
        }
        &__descr {
            margin-top: 10px;
            color: #0D0D0D;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 200;
            line-height: 1.5;
        }
        &__link {
            display: block;
            margin-top: 10px;
            color: $main-color;
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
        }
        hr {
            background-color: #E8E8E8;
            border-bottom: none;
            margin-top: 19px;
            margin-bottom: 21px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555;    
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            text-decoration-line: line-through;
        }
        &__price {
            color: #050505;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            transition: 0.5s all;
            transform: translateX(-100%);
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            transition: 0.5s all;
            transform: translateX(0%);
            padding-right: 20px;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-right: 20px;
            }
            li {
                position: relative;
                color: #555;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                margin-bottom: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}